
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cabfae70;
}

#cover-image {
    text-align: center;
    background-position: center;
}

#cover-image img {
    width: 200px;
    height: 200px;
}

#song-name {
    margin-top: 5px;
    font-size: 16px;
}

#artist-name {
    margin-top: 5px;
    font-size: 16px;
}

#progress-bar {
    width: 200px;
}

#time-duration {
    display: flex;
    justify-content: space-between;
}

#control {
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 15px;
    margin-top: 5px;
    border-radius: 50%;
    border: none;
}